.card{
    border-radius: 20px;
}

.book{
    padding-top:30px;
    padding-left:30px;
}
.form-head {
      color: #0d6efd;
      font-weight: 600;
        }

.form-label{
    padding-top:10px;
}

.form-control{
    background-color: #F3F3F5;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.form-select{
    background-color: #F3F3F5;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 80%;
}

 .calendar {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 30px;
      max-width: 400px;
      width: 25vw;
    }

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      color: #2c3e50;
    }

    .calendar-header h2 {
      font-size: 18px;
      font-weight: 600;
    }

    .calendar-arrow {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #ecf0f1;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 20px;
      color: #3498db;
      background: white;
    }

    .calendar-arrow:hover {
      background: #3498db;
      color: white;
      border-color: #3498db;
      transform: scale(1.1);
    }

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 7px;
    }

    .day-header {
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      color: #7f8c8d;
      padding-bottom: 5px;    
      text-transform: uppercase;
    }

    .day {
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #ecf0f1;
      border-radius: 8px;
      font-size: 14px;
      color: #2c3e50;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
    }

    .day:hover {
      background: #3498db;
      color: white;
      border-color: #3498db;
      transform: scale(1.05);
      box-shadow: 0 2px 8px rgba(52, 152, 219, 0.3);
    }

    .day-blocked {
      background-color: #bdc0c4;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #ecf0f1;
      border-radius: 8px;
      font-size: 14px;
      color: #2c3e50;
      position: relative;
    }

    .day.selected {
      background: #3498db;
      color: white;
      border-color: #3498db;
      font-weight: 600;
    }
    
    
    .time-slots-container {
      border: 1px solid #dee2e6;
      border-radius: 8px;
      padding: 20px;
      background: #f8f9fa;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap:10px;
      width:25vw;
      max-width: 400px;
    }
    .time-slot{
      font-weight: 600;
    }
    
    