
body{
    font-family: 'Inter', sans-serif;
}

.dentist-section{
    padding-bottom: 90px;
}
.dentist{
    height:auto;
    padding: 30px;
    border-radius: 30px;
}
.dentist:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.profile-img{
    width: 120px !important; 
    height: 120px !important;  
    object-fit: cover !important; 
}

.name{
    color: #46484F;
    font-weight: 600;
}

.position{
    color: #1340DE;
}
.text{
    padding-top:10px;
    font-size: 15px;
}
.specialty{
    background-color: #DEECFF;
    color: #1E50FF;
    border-radius: 20px;
    padding: 5px 15px;
    display: inline-block;
}

.support-team-section{
    background-color: #DEECFF;
    padding-bottom: 80px;
}

.support{
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}
.support:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.profile-name{
    font:#46484F;
    padding-top:15px;
}
.profile-role{
    color:#1340DE;
}

.cta{
    background-color:#1E50FF ;
}