body{
    background-color:#F1F7FF ;
    font-family: 'Inter';
}

.navbar {
    background-color: white !important;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.nav-item {
    padding: 15px 25px;
}
.navbar-brand {
    color: #484A53 !important;
    font-weight: 550;
    padding: 15px 25px;
    text-decoration: none;
}
.nav-link {
    color: #484A53 !important;
    text-decoration: none;
    font-weight:550;
    padding: 0 !important;
}

.nav-link:hover {
    color: #193CB8 !important;
}
.nav-item.active .nav-link {
    color: #193CB8 !important;
}

.login-btn {
    background-color: #1340DE;
    color: white !important;
    font-weight:510;
    padding: 10px 20px !important;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #fff;
    color: #1340DE !important;
    transform: scale(1.05);
}

.company-name{
    color:#193CB8;
    font-weight: 500;
    line-height: 1.2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.main{
    padding-top:100px
}
